
<label for="_deckFormat">Formato de mazo:</label>
<select id="deckFormat" name="_deckFormat" class="form-control" required>

	{% set formats = ['No format', 'Commander', 'Modern', 'Jump start'] %}
	{% for format in formats %}
		<option value="{{ format }}" {% if deck.getFormat is defined and deck.getFormat == format %}selected{% endif %}>
			{{ format }}
		</option>
	{% endfor %}
</select>
