#addCardPopUp {
	position: fixed;
	top:    0px;
	bottom: 0px;
	left:   0px;
	right:  0px;

	background: var(--popup-back-background-color);
	z-index: 5;
}

#addCardPopUp-window {
	background: var(--popup-background-color);
}

#addCardPopUp[data-show-status="0"] {
	display: none;
}