
/* view card */
.main-card{
	justify-content: center;
	text-align: center;
}
.main-card img{
	/* width: 80%;
	margin: 10%; */
	
	width: 100%;
	max-width: 300px !important;
	margin-top: 20px;

	border-radius: 15px;

	transition: border-radius 0.5s;
}
.contain-image:hover{
	border-radius: 0px;
}
/* legalities slides */
.card-legalities{
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
	gap: 0.5em;
}
.card-legality{
	padding: 5px;
	display: inline-block;
	border-radius: 5px;
	text-align: center;

	color: var(--card-legal-text);
	font-weight: bold;
	
	background: var(--card-legal-default-background);
}
.card-legal{
	background: var(--card-legal-background);
}
.card-not_legal{
	background: var(--card-legal-not-background);
}

/* card stores links */

/* this is for the h3 between hr */
h3 + hr {
	margin-top: -0.8em !important;
	margin-bottom: 1em !important;
	/* height: 2px !important; */
	opacity: 1 !important;

}





/* search card */
.card-slide-preview{
	background: var(--slide-background-color);
	border-radius: 5px;
	padding: 10px;
}
.card-slide-preview img{
	border-radius: 10px;
}

.card-slide-link {
	text-decoration: none !important;
}
.card-slide-link:hover {
	color: var(--default-text-color);
}
.card-slide-text,
.card-slide-text-default{
	color: var(--semiclear-text-color);
}
.card-slide-text-default{
	font-style: italic;
}

.symbol-replacement{
	display: inline-block;
	width: 1em;

	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;

	color: #0000;
}

/* double side cards */
.two-side-image {	
	position: relative;
}
.two-side-image .card-hide{	
	visibility: hidden;
	margin-bottom: var(--card-flip-button-height);
}
.two-side-image .flip-card-button {
	position: absolute;
	bottom: 0px;
	height: var(--card-flip-button-height);
	left:  10%;
	right: 10%;
}

.two-side-image .side-1,
.two-side-image .side-0 {
	position: absolute;
	top: 0px;
	transform: translateX(-100%);
	
	backface-visibility: hidden;
	transition: all 1s;
}

.two-side-image[data-shown-face="0"] .side-0 {transform:translateX(-100%) rotateY(0deg);}
.two-side-image[data-shown-face="0"] .side-1 {transform:translateX(-100%) rotateY(180deg);}
.two-side-image[data-shown-face="1"] .side-0 {transform:translateX(-100%) rotateY(180deg);}
.two-side-image[data-shown-face="1"] .side-1 {transform:translateX(-100%) rotateY(0deg);}
