.option {
	margin: 0.5em;

	min-height: 10em !important;
	border-radius: 10px;
	
	display: flex;
	align-items: center;
	justify-content: center;

	background: var(--dashboard-background-colourless);
}
.option h2 {
	transition: font-size 0.3s;
}
.option:hover h2 {
	/* font-weight: bold; */
	font-size: 2.5em;
}

.option h2, p {
	color: var(--dashboard-color);
}

#coll {background: var(--dashboard-background-collection);}
#coll:hover {
	background: var(--dashboard-background-hover-collection);
}
#decks {background: var(--dashboard-background-decks);}
#decks:hover {
	background: var(--dashboard-background-hover-decks);
}
#search {background: var(--dashboard-background-search);}
#search:hover {
	background: var(--dashboard-background-hover-search);
}
#profile {background: var(--dashboard-background-profile);}
#profile:hover {
	background: var(--dashboard-background-hover-profile);
}
#login, #logout {background: var(--dashboard-background-session);}
#login:hover, #logout:hover {
	background: var(--dashboard-background-hover-session);
}

