header .flex-row{
	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}

header img{
	width:  100px;
	height: 100px;
}

header input{
	color: black;
}

.search-input,
.search-input {
	width:  1.7em;
	height: 1.7em;
	border: 0px;
	color: #fff0;
}
header svg{
	width:  1.5em;
	height: 1.5em;
	margin-left: -6px;
	position: relative;
	transform: translate(-100%, -1px);
	pointer-events: none;
}