
:root{
	--default-text-color: antiquewhite;
	--semiclear-text-color: #fff9;

	--card-legal-text: #000;
	--card-legal-background: #0f0;
	--card-legal-not-background: #f00;

	--card-flip-button-height: 2em;

	--default-background-color: black;
	--slide-background-color: radial-gradient(circle at 100% 100%, #fff3, #fff1);;
}


*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	color: var(--default-text-color);
	background-color: var(--default-background-color);
}

.pop-up-bordered{
	border: 1px solid var(--default-text-color);
}

a{
	color: var(--default-text-color);
}


.fading-separation {
	border: none;
	height: 1px !important;
	background: linear-gradient(to right, transparent, var(--default-text-color), transparent);
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}