
:root{

	/* BASE COLORS */
	--default-text-color: antiquewhite;
	--semiclear-text-color: #fff9;
	--default-background-color: #242526;
	--clear-background-color: #343536;
	--light-background-color: #444546;
	--semisolid-background-color: #34353699;

	/* MANA COLORS */
	--mana-colorless-color: #313131;
	--mana-white-color: #FDCD66;
	--mana-blue-color: #1592C7;
	--mana-black-color: #AAA398;
	--mana-red-color: #FD6600;
	--mana-green-color: #15C83E;

	--card-legal-text: var(--default-background-color);
	--card-legal-default-background: #ccc;
	--card-legal-background: #0a0;
	--card-legal-not-background: #aa0;
	--card-legal-banned-background: #a00;

	/* variables para que los degradados del hover sean mas automaticos y modificables */
	--background-hover-aditive-white: #FFF;
	--background-hover-aditive-white-percent: 40%;
	--background-hover-aditive-color-percent: 60%;
	--background-hover-circle-position: circle at 50% 15%;

	--background-hover-colorless: radial-gradient(
		var(--background-hover-circle-position),
		color-mix(
			in srgb,
			var(--mana-colorless-color) var(--background-hover-aditive-color-percent),
			var(--background-hover-aditive-white) var(--background-hover-aditive-white-percent)
		) 20%,
		var(--mana-colorless-color) 100%
	);
	--background-hover-white: radial-gradient(
		var(--background-hover-circle-position), 
		color-mix(
			in srgb,
			var(--mana-white-color) var(--background-hover-aditive-color-percent),
			var(--background-hover-aditive-white) var(--background-hover-aditive-white-percent)
		) 20%, 
		var(--mana-white-color) 100%
	);
	--background-hover-blue: radial-gradient(
		var(--background-hover-circle-position),
		color-mix(
			in srgb,
			var(--mana-blue-color) var(--background-hover-aditive-color-percent),
			var(--background-hover-aditive-white) var(--background-hover-aditive-white-percent)
		) 20%,
		var(--mana-blue-color) 100%
	);
	--background-hover-black: radial-gradient(
		var(--background-hover-circle-position),
		color-mix(
			in srgb,
			var(--mana-black-color) var(--background-hover-aditive-color-percent),
			var(--background-hover-aditive-white) var(--background-hover-aditive-white-percent)
		) 20%,
		var(--mana-black-color) 100%
	);
	--background-hover-red: radial-gradient(
		var(--background-hover-circle-position),
		color-mix(
			in srgb,
			var(--mana-red-color) var(--background-hover-aditive-color-percent),
			var(--background-hover-aditive-white) var(--background-hover-aditive-white-percent)
		) 20%,
		var(--mana-red-color) 100%
	);
	--background-hover-green: radial-gradient(
		var(--background-hover-circle-position),
		color-mix(
			in srgb,
			var(--mana-green-color) var(--background-hover-aditive-color-percent),
			var(--background-hover-aditive-white) var(--background-hover-aditive-white-percent)
		) 20%,
		var(--mana-green-color) 100%
	);






	--card-flip-button-height: 2em;

	--slide-background-color: radial-gradient(circle at 100% 100%, #fff3, #fff1);
	--popup-background-color: var(--clear-background-color);
	--popup-back-background-color: var(--semisolid-background-color);

	--card-list-background-color: var(--clear-background-color);
	--card-list-border-separator: solid var(--default-text-color) 1px;
	--card-list-border-radius: 1em;
	--card-list-card-preview-transparent-gradient: linear-gradient(to left,
		rgba(0, 0, 0, 0) 0%,
		rgba(0, 0, 0, 1) 10%, /* a partir de que punto empieza el degradado */
		rgba(0, 0, 0, 1) 100%
	);
	--card-list-price-increment-color: #15C83E;
	--card-list-price-decrement-color: #ed2120;
	--card-list-foil-background: #FDCD66;
	--card-list-foil-color: #242526;
	--card-list-state-color: #aaa;
	--card-list-quantity-bg-modified: var(--mana-green-color);
	--card-list-quantity-bg-removed: var(--mana-red-color);
	--card-list-save-background: var(--light-background-color);

	--dashboard-color: #242526;
	
	--status-message-ok-background: #696;
	--status-message-warning-background: #996;
	--status-message-error-background: #966;

	--header-background: var(--semisolid-background-color);
	--header-top-border:  2px solid var(--semisolid-background-color);
	--header-side-background: var(--default-background-color);
	--header-side-border: 2px solid var(--semisolid-background-color);
}


*{
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	color: var(--default-text-color);
	background-color: var(--default-background-color);
}

.pop-up-bordered{
	border: 1px solid var(--default-text-color);
}

a{
	color: var(--default-text-color);
	text-decoration: none;
}


.fading-separation {
	border: none;
	height: 1px !important;
	background: linear-gradient(to right, transparent, var(--default-text-color), transparent);
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}


/* override boostrap classes */
.form-control,
.form-select {
	background-color: var(--default-background-color);
	color: var(--default-text-color);
	border-color: var(--default-text-color);
}




.mana-bg-green {background: var(--mana-green-color);}
.mana-bg-green:focus-visible,
.mana-bg-green:hover {
	background: var(--background-hover-green);
}
.mana-bg-red {background: var(--mana-red-color);}
.mana-bg-red:focus-visible,
.mana-bg-red:hover {
	background: var(--background-hover-red);
}
.mana-bg-white {background: var(--mana-white-color);}
.mana-bg-white:focus-visible,
.mana-bg-white:hover {
	background: var(--background-hover-white);
}
.mana-bg-blue {background: var(--mana-blue-color);}
.mana-bg-blue:focus-visible,
.mana-bg-blue:hover {
	background: var(--background-hover-blue);
}
.mana-bg-black {background: var(--mana-black-color);}
.mana-bg-black:focus-visible,
.mana-bg-black:hover {
	background: var(--background-hover-black);
}
.mana-bg-colorless {background: var(--mana-colorless-color);}
.mana-bg-colorless:focus-visible,
.mana-bg-colorless:hover {
	background: var(--background-hover-colorless);
}

.default-text-color {
	color: var(--default-text-color);
}