/* #card-list {
	background-color: #f003;
	border-radius: 2em;
} */

.card-list-show {
	background-color: var(--card-list-background-color);
	border-bottom: var(--card-list-border-separator);
	overflow: hidden;
}
.card-list-show:has(.foil-text) {
	background: linear-gradient(120deg, 
		rgba(255, 0, 0, 0.3) 00%, 
		rgba(255, 153, 0, 0.2)   25%, 
		rgba(238, 255, 0, 0.2) 40%, 
		rgba(21, 255, 0, 0.2) 55%, 
		rgba(0, 191, 255, 0.2) 70%, 
		rgba(13, 0, 255, 0.3) 85%,
		rgba(238, 0, 255, 0.3) 100%
	);
}
.card-list-show:first-of-type {
	border-top-left-radius:  var(--card-list-border-radius);
	border-top-right-radius: var(--card-list-border-radius);
}
.card-list-show:last-of-type {
	border-bottom-left-radius:  var(--card-list-border-radius);
	border-bottom-right-radius: var(--card-list-border-radius);
	border-bottom: none;
}
#card-image {
	/* border-radius: 1em; */
	aspect-ratio: 4/3;
	object-fit: cover;
	object-position: center;

	mask-image: var(--card-list-card-preview-transparent-gradient);
	-webkit-mask-image: var(--card-list-card-preview-transparent-gradient);
}

#card-prices {
	background-image: url('');
	background-position: right;
	background-size: contain;
	background-repeat: no-repeat;
}
/* detecting the increment in the card price */
#card-prices[data-price-improvement]:not([data-price-improvement="0"]):not([data-price-improvement=""]) {
	color: var(--card-list-price-increment-color);
}
/* Detect if its a negative number */
#card-prices[data-price-improvement^="-"] {
	color:var(--card-list-price-decrement-color) !important;
}


.foil-text {
	background-color: var(--card-list-foil-background);
	color: var(--card-list-foil-color);
	padding: 0.2em;
	border-radius: 5px;
}

.card-state {
	color: var(--card-list-state-color);
}

#card-quantity {
	margin: 0px;
	display: block;
	min-width: 1em;
	border-radius: 5px;
	text-align: center;
}

#card-quantity[data-quantity-status="modified"] {
	background: var(--card-list-quantity-bg-modified);
}
#card-quantity[data-quantity-status="removed"] {
	background: var(--card-list-quantity-bg-removed);
}

#save-changes-popup[data-has-changes="0"] {
	display: none;
}

#save-changes-popup {
	position: fixed;
	bottom: 50px;	
	left:   50px;
	right:  50px;
	z-index: 999;
}
#save-changes-popup > *{
	background: var(--card-list-save-background);
	border-radius: 5px;
}

#save-changes-popup-close,
#save-changes-popup-save{
	display: none;
}

#save-changes-popup[data-has-changes="1"] #save-changes-popup-save {display: block;}
#save-changes-popup[data-has-changes="2"] #save-changes-popup-close {display: block;}