.option {
	margin: 0.5em;

	min-height: 8em !important;
	border-radius: 10px;
	
	display: flex;
	align-items: center;
	justify-content: center;

	/* background: var(--dashboard-background-colourless); */
}
.option h2 {
	transition: font-size 0.3s;
}
.option:focus-visible h2,
.option:hover h2 {
	/* font-weight: bold; */
	font-size: 2.5em;
}

.option h2, .option p {
	color: var(--dashboard-color);
	fill: var(--dashboard-color);
	text-align: center;
}

#carrousel{
	background-color: var(--carrousel-bg);
	border-radius: 1em;
	overflow: hidden;
}
#carrousel #elements {
	display: flex;
	flex-flow: row nowrap;
	justify-content: start;
	align-items: center;

	overflow-x: hidden;
	scroll-behavior: smooth;

	width: 100%;
	box-sizing: border-box;
	position: relative; /* Ensure children are positioned relative to this container */
}

#carrousel #elements .element {
	flex: 0 0 100%; /* Hace que cada hijo tenga el mismo ancho que el padre */
	width: 100%;
	display: block !important;
}

.dot {
	aspect-ratio: 1/1;
	width: 2em;

	border-radius: 999px;
}

.profile-badge {
	display: flex;
	margin-bottom: 0.5em;
}
.profile-badge > p {
	color: var(--default-text-color) !important;
	padding-top: 1em;
}
.profile-badge span {
	width: 10em;
	padding-top: 1em;
	padding-left: 5px;
}
.profile-badge img {
	width: 5em;
	border-radius: 1em;
}