.center-in-page-vert{
	/* background-color: blueviolet; */
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-window {
	background: var(--form-bg);
	padding: 2em;
	border-radius: 1em;
}