header {
	background: var(--header-background);
	border-bottom: var(--header-top-border);
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

header .flex-row{
	display: flex;
	flex-direction: row;

	justify-content: space-between;
	align-items: center;
}

header img{
	width:  100px;
	height: 100px;
}

header input{
	color: black;
}

.search-input,
.search-input {
	width:  1.7em;
	height: 1.7em;
	border: 0px;
	color: #fff0;
}

#sideHeaderButtonClose,
#sideHeaderButtonOpen {
	width:  50px;
	height: 100px;
	margin-left: 1em;
	
	border: none;
	background: #0000;

	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;

	/* filtro para que los svg sean blancos */
	filter: invert(1) sepia(1) saturate(4) hue-rotate(180deg);
}
#sideHeaderButtonOpen {
	background-image: url('https://www.svgrepo.com/show/408970/show-sidebar-horiz.svg');
}
#sideHeaderButtonClose {
	background-image: url('https://www.svgrepo.com/show/408970/show-sidebar-horiz.svg');
	transform: scaleX(-1);
}

header[data-is-open="0"] #open-header-background {
	display: none;
}

header #open-header-background {
	position: fixed;
	background-color: var(--header-background);
	z-index: 99;

	
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

header #open-header {
	overflow-y: auto;
	overflow-x: hidden;

	padding-top: 0.5em;
	background-color: var(--header-side-background);
	border-right: var(--header-side-border);
}