<!DOCTYPE html>
<html lang="en">
<head>
	{% set meta_title = "Floating Mana" %}
	{% set meta_description = "Floating Mana es una aplicación web para gestionar colecciones y mazos de Magic TCG" %}
	
	{% include "root.html.twig" %}
	<link rel="stylesheet" href=" {{ asset('styles/dashboard.css') }} ">

</head>
{% include "header.html.twig" %}
<body>

	<div class="container">
		<div class="row row-cols-12 row-cols-md-6    justify-content-center">
			<p>Que guapo nos va a quedar la pagina de presentacion</p>
			<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem voluptatibus iste magnam maxime beatae unde nemo sed architecto eligendi provident quae porro, voluptas rem animi. Voluptatibus reprehenderit natus saepe consequuntur!</p>
		</div>
	</div>

</body>